

.dot{
    margin-left: 38rem;
}



.content
{
    top:0;left:0;
    position:absolute;
    z-index:2;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.content h1
{

    box-sizing:border-box;
    margin:50px;
    font-size:80px;
    font-family:'rubik';
    color:#222222;
    -webkit-text-stroke:3px whitesmoke;
}


/* .content h1 span:hover
{
    cursor:default;
    color: white;
    -webkit-text-stroke: #222222;

}
.content h1 span:not(:hover)
{
    transition: 0.3s;

}

.dot:not(:hover){
    transition: 0.2s;
} */

.content h1:hover{cursor:default;}

.brmobile{display:none;}

@media screen and (max-width: 700px) {
    .bgc, .about{
        font-size: 64px !important;
    }
    .dot{
        margin-left: 0;
    }
    .sep{
        display: none;
    }
    .brmobile{
        display: block !important;
    }
}

.content{
    text-shadow: black 2px 2px 2px;
}

.global{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
}

.main{
    border: rgb(0, 0, 0) 1px solid;

}


.sub_secwrap{
    height: 100vh;
}

.square{
    border: 1px white solid;
    height: 100px;
    width: 100px;
    background-color: #fff;
    margin-top: 45%;
    margin-left: 45%;
    border: 1px #222222 solid;
    text-align: center;
}

.square h2{
    margin-top: 25%;
}


/* .project{
    writing-mode: vertical-lr;
    text-orientation: upright;
    transform-origin: bottom;

} */





.switch_project{
    position: relative;
    letter-spacing: -10px;
    font-family: sans-serif !important;
    cursor: pointer;
    width: fit-content;
    text-shadow: black 2px 2px 2px;
}



.switch_project::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #222222;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.switch_project:hover:before {
    visibility: visible;
    width: 100%;
}


.spaceproject{
    margin-left: 30vw;
}

.about{
    position: relative;
    font-family: sans-serif !important;
    cursor: pointer;
    text-shadow: black 2px 2px 2px;
    width: fit-content;
    padding: 50px;
    margin: -50px;
}

.about::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #222222;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}


.about:hover:before {
    visibility: visible;
    width: 100%;
}

/* .about>span:hover{
    transition: 1s;
    margin-left: -16px;
    margin-right: -16px;
}

.about>span:not(:hover){
    transition: 1s;
} */

.topgap{
    height: 100px;
    display: none;
}


*{
    margin: 0;
    padding: 0;

}


body{
    overflow: hidden;
    zoom: none  ;
}

#backbtn{
    display: none;
}