#nav{

    background-color: none;
    font-size: 45px;
    width: fit-content;
    box-shadow: #FFFFFF 50;
  


}

.hidden{
    display: none !important;
}


body{
    background-image: url(moon.jpg);
    overflow-x: hidden;
}



.nav__item{

    text-decoration: none;
    font-family: 'rubik';
    color: rgb(194, 194, 194);
    font-size: 55px;


}

.nav__item:hover{
    color: rgb(255, 255, 255);
}


#bg{
    width: 35px;
    border-radius: 5px;
    margin-left: 20px;
    position: absolute;
    cursor: pointer;
    
}


@media only screen and (max-width:1600px) {
    #bg{
        display: none;
    }
}

@media only screen and (max-width:805px) {
    #bg{
        display: block;
        margin-top: 20px;
    }
}


@media screen and (max-width:805px) {
    #burgerlist{
        display: block;
        color: rgb(0, 0, 0);
    }
}


@media screen and (min-width:805px) {
    #burgerlist{
        display: none;
        color: rgb(0, 0, 0);
    }
}


.burgerlist__style{
    border: black 1px solid;
    padding-top: 5px;
    height: 35px;
    width: 500px;
    background-color: #222222;
    color: white;
    font-family: 'rubik';
    text-align: center;
}

.burgerlist__style:hover{
transform: scale(1.2);
    
}




a:link{
    text-decoration: none;
}





.cancelblue{
    text-decoration: none;
    color: white;
}

.cancelblue:hover{
    color: white;
}




.pipe{
    color: white;
}


@media screen and (max-width:805px) {
    .pipe{
        display: none;
    }
}







#ping{
    width: 70px;
    margin-left: 125px;
    border-radius: 35px;
    margin-top: 8px;
    box-shadow: #222222 10px 10px 10px;
    overflow: hidden;

}





@media screen and (max-width:805px) {
    #ping{
        margin-left: 425px;
        width: 45px;
        overflow: hidden;
    }
}

@media screen and (max-width:805px) {
    .nav__item{
        display: none;
    }
}

@font-face {
    font-family: 'rubik';
    src: url('Rubik-Regular.ttf');
}


#container{
    display: flex;

    width: 1000px;
    color: white;
    align-items: center;
    margin:auto;
    margin-top: 200px;
    font-family: 'rubik';

}


.testflex{
    display: flex;
}

@media (max-width:500px) {
    #container{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 500px;

    }
    
}