

*{
    padding:0;
    margin:0;

}


.dot{
    margin-left: 38rem;
}

.content
{
    top:0;left:0;
    position:absolute;
    z-index:2;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.content h1
{

    box-sizing:border-box;
    margin:50px;
    font-size:80px;
    font-family:sans-serif;
    color:white;
    -webkit-text-stroke:2px black;
}
.content h1 span:hover
{
    cursor:default;
/*     color: #222222 */;
}
.content h1:hover{cursor:default;}

.brmobile{display:none;}

@media screen and (max-width: 600px) {
    .bgc, .dot{
        font-size: 32px !important;
    }
    .dot{
        margin-left: 0;
    }
    .sep{
        display: none;
    }
    .brmobile{
        display: block !important;
    }
}

.global{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
}

.main{
    border: rgb(0, 0, 0) 1px solid;

}


.sub_secwrap{
    height: 100vh;
}

.square{
    border: 1px white solid;
    height: 100px;
    width: 100px;
    background-color: #fff;
    margin-top: 45%;
    margin-left: 45%;
    border: 1px #222222 solid;
    text-align: center;
}

.square h2{
    margin-top: 25%;
}


.project{
    writing-mode: vertical-lr;
    text-orientation: upright;
}


.project:hover{

    transition: 4s;


}



.project:hover::after{

    content: "ROJECTS";
}
.project:not(:hover){
    animation-delay: 2s;
    transition: 4s;
}













/* .square:hover{
    transition: 1s;
    transform-origin: center !important;
    height: 50px;
}

.square:not(:hover){
    transition: 1s;
} */

*{
    margin: 0;
    padding: 0;
}